<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" [disabled]="!canGoBack()">
        Back
      </ion-button>
    </ion-buttons>

    <ion-title>{{ formattedDate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goForward()">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ formattedDate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 16px; width: 100%;">
    <strong>Streaks</strong>

    <div *ngIf="streaks.length === 0" style="opacity:.7; margin-top: 8px;">
      Zatím žádné streaky. Přidej první pomocí +.
    </div>

    <div *ngFor="let s of streaks" style="margin-top: 10px;">
      • {{ s.name }}
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-streak']">
      +
    </ion-fab-button>
  </ion-fab>
</ion-content>
